<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<h2>Insert Product</h2>
<body>
<form action="/admin/insert_product" method="post" enctype="multipart/form-data">
    product_name : <input type="text" name="productname"><br><br>
    product_discription : <input type="text" name="productdiscription"><br><br>
    product_image_name : <input type="file" name="productimage" accept="image/jpeg,image/png"><br><br>
    <input type="submit" name="submit">
</form>
</body>
</html>